* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  background-color: rgb(131, 81, 164);
}

// .magicBall {
//   width: 300px;
//   height: 300px;
//   background-color: black;
//   border-radius: 50%;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   .scene {
//     // perspective: 800px;
//     width: 300px;
//     height: 300px;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//   }
//   .ball {
//     width: 300px;
//     height: 300px;
//     position: relative;
//     transform-style: preserve-3d;
//     transform: rotateY(0deg);
//     transition: transform 1s;
//   }
//   .front,
//   .back {
//     position: absolute;
//     width: 100%;
//     height: 100%;
//     border-radius: 50%;
//   }

//   .front {
//     transform: translateZ(50px);
//   }

//   .back {
//     transform: translateZ(-50px);
//   }

//   .ball.turn {
//     transform: rotateY(180deg);
//   }

//   .whitesurface {
//     width: 100px;
//     height: 100px;
//     background-color: white;
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
//   .redsurface {
//     width: 100px;
//     height: 100px;
//     background-color: rgb(189, 24, 24);
//     border-radius: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//   }
// }

// .inputfield {
//   display: flex;
//   justify-content: center;
//   flex-direction: column;
//   width: 500px;
//   input {
//     text-align: justify;
//   }
//   button {
//     width: 250px;
//     color: coral;
//   }
// }

// //Mirror output
// .redsurface {
//   transform: scale(-1, 1);
// }

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: black;
}

/* THE CARD HOLDS THE FRONT AND BACK FACES */
.thecard {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
}

/* THE PSUEDO CLASS CONTROLS THE FLIP ON MOUSEOVER AND MOUSEOUT */
// .thecard:hover {
//   transform: rotateY(180deg);
// }

.thefront:hover {
      transform: scale(0);
    }

/* THE FRONT FACE OF THE CARD, WHICH SHOWS BY DEFAULT */
.thefront {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #ffc728;
  color: #000;
}

/* THE BACK FACE OF THE CARD, WHICH SHOWS ON MOUSEOVER */
.theback {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  backface-visibility: hidden;
  overflow: hidden;
  background: #fafafa;
  color: #333;
  text-align: center;
  transform: rotateY(180deg);
}
